{% extends 'base.html' %}

{% block title %}App Chat{% endblock %}

{% block content %}
    <style>
        .main {
            display: grid;
            grid-template-rows: auto 1fr auto;
        }

        .header-message {
            background: linear-gradient(to right, #e6f9ff, #16b7cc);
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header-message h2 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
            color: #152f57;
        }

        .menu {
            display: flex;
            gap: 1rem;
        }

        .menu a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 2px 5px;
            border-radius: 5px;
        }

        .contents-messages {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            overflow-y: auto;
        }
        .messages {
            max-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        }
        .no-message {
            display: grid;
            place-items: center;
            height: 100%;
        }

        .no-message p {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: #155724;
        }
        
        .all-messages {
            display: flex;
            flex-direction: column;
        }

        .message {
            padding: 8px;
            color: #152f57;
            background-color: #e6f9ff;
            margin-bottom: 1rem;
            border-radius: .25rem;
        }

        .sent {
            align-self: flex-end;
            background-color: #e6f9ff;
        }

        .received {
            align-self: flex-start;
            background-color: #e6f9ff;
        }

        .message-form {
            margin: 1rem 0;
            align-items: flex-end;
        }
        .game-content {
            overflow-y: hidden;
            height: 500px;
        }
        @media (max-width: 600px) {
            .contents-messages {
                grid-template-columns: 1fr;
            }
        }

        .gap {
            background-color: #16b7cc; 
            border-radius: 10px; 
            margin: 5px 5px 15px 5px;
            color: white;
        }

    </style>
    <div class="main">
        <div class="header-message">
            <h2>
                <span>Messages privés avec {{ user_recipient.username }}</span>
            </h2>
            <div class="menu">
                <a href="/" title="Retour">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 14 14">
                        <path fill="currentColor" fill-rule="evenodd"
                              d="M6.545.998a1 1 0 0 0 0 2h2.728a2.638 2.638 0 0 1 0 5.275H4.817V6.545a1 1 0 0 0-1.707-.707L.384 8.564a1.004 1.004 0 0 0-.22 1.09c.049.119.121.23.218.327l2.728 2.728a1 1 0 0 0 1.707-.707v-1.729h4.456a4.638 4.638 0 1 0 0-9.275H6.545Z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="contents-messages">
            <div class="messages">
                {% if messages|length == 0 %}
                    <div class="no-message">
                        <p>Aucun message</p>
                    </div>
                {% else %}
                    <div class="all-messages">
                        {% for message, sender, recipient in messages %}
                            <div class="message {% if sender.id == current_user_id %}sent{% else %}received{% endif %}">
                                <strong>{{ sender.username }}</strong>
                                <span>{{ message.sent_at.strftime('%d/%m/%Y %H:%M:%S') }}</span>
                                <p>{{ message.message }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div>
                <div style="display: flex; justify-content: space-between;">

                    <div style="flex-direction: column;">

                        <div class="gap" style="padding: 10px;">
                        <strong>Coordonnées :</strong>
                        <ul>
                            <li><strong>Longitude: </strong>{{ lon }}</li>
                            <li><strong>Latitude: </strong>{{ lat }}</li>
                        </ul>
                        </div>

                        <div class="gap" style="padding: 10px;">
                        <p><strong>Lever du soleil: </strong>{{ sunrise }}</p>
                        <p><strong>Coucher du soleil: </strong>{{ sunset }}</p>
                    </div>
                    </div>
                
                    <div class="gap" style="padding: 10px 10px 0px 10px;">
                        <p><strong>temps: </strong>{{ description }}</p>
                        <p><strong>Température: </strong>{{ temp }}°C</p>
                        <p><strong>Ressenti: </strong>{{ feels_like }}°C</p>
                        <p><strong>Taux d'humidité: </strong>{{ humidity }}%</p>
                        <p><strong>Vitesse du vent: </strong>{{ speed }}</p>
                        <p><strong>deg: </strong>{{ deg }}</p>
                    </div>
                </div>

                <iframe src="{{ url_for('static', filename='temp_map.html') }}" width="100%" height="500"></iframe>
            </div>
        </div>
        <div class="message-form">
            <form action="/message" method="post">
                <input type="hidden" name="recipient_id" value="{{ user_recipient.id }}" autofocus>
                <label for="message">Votre message</label>
                <input type="text" name="message" id="message">
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}